*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-box{
    width: 960px;
    margin: auto;
    
}

.border-cor{
    border: 2px dashed blue;
}

.border-cor2{
    border: 2px dashed darkgreen;
}

.border-cor3{
    border: 2px dashed black;
}


/*!---------------------------
/*!      GENERAL CONTENT
/*!-------------------------*/
body{
    height: 100vh;
    background-image: linear-gradient(#009688 15%, #DBDBD2 15%);
    

    position: relative;
}

main{
    height: 90vh;
    display: flex;

    position: absolute;
    top: 4%;
    left: 18%;
    
}

header{
    height: 10%;
    background-color: #EAEAEA;
}

footer{
    height: 8%;
    padding: 10px;
    background-color: #F3EEEA;
    display: flex;
    align-items: center;
    gap: 15px;
}

/*---------------------------
        GENERIC-TAGS
----------------------------*/
img{
    max-width: 100%;
    border-radius: 50%;
}

i{
    color: #B1B1B1;
    padding: 5px;
}

h2{
    font-size: 0.7em;
    margin-bottom: 0; 
    margin-top: 10px;
}

h3{
    font-size: 0.7em;
    margin-bottom: 0; 
}

p{
    font-size: 10px;
}


/*!---------------------------
/*!        LEFT CONTENT
/*!-------------------------*/
#left-box{
    height: 100%;
    flex-basis: 30%;
}

#top-left{
   height: 10%;
   background-color: #EAEAEA;
}

#notifications{
    height: 13%;
    background-color: #8EDAFC;
}

#search{
    height: 7%;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    padding: 10px;

    position: relative;
}

#contacts{         
    overflow: auto;
    height: 70%;
    background-color: #FFFFFF;
}
/*------------------------------
        CONTENT-LEFT SECTION
-------------------------------*/
#profile img{
    width: 20%;
}

#search input{
    font-size: 10px;
    width: 90%;
    padding-left: 30px;
}

#search i{
    position: absolute;  /*TODO  position fuori scatolla */
    top: 8px;
    left: 10px;
}

#contact-card{
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
}

#contact-card:hover{
   background-color: #F3EEEA;
   cursor: pointer;
}


#contacts img{
    width: 18%;
}

/*!---------------------------
/*!        RIGTH CONTENT
/*!-------------------------*/
#rigth-box{
    height: 100%;
    flex-basis: 70%;
}

#conversation{             
    overflow: auto;
    height: 82%;
    background-image: url('../img/mine.png'); /*TODO sparitto*/
}

/*------------------------------
      CONTENT-RIGTH SECTION
-------------------------------*/
header img{
    width: 9%;
 }


#conversation ul{
    list-style-type: none;
}

#conversation li{
    margin: 10px;
    padding: 5px ;
    display: flex;
    flex-direction: column; 
    border-radius: 10px;
}

li span {
    font-size: 14px;
    margin-bottom: 10px;
}

li p{
    margin-bottom: 2px;
}

.sent{
    background-color: #D5F9BA;
    text-align: right;
}

.received{
    background-color: #FFFFFF;
}

footer input{
    width: 80%;
}