*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-box{
    width: 960px;
    margin: 30px auto;
}

.border-cor{
    border: 2px dashed blue;
}

.border-cor2{
    border: 2px dashed darkgreen;
}

.border-cor3{
    border: 2px dashed black;
}


/*!---------------------------
/*!      GENERAL CONTENT
/*!-------------------------*/
body{
    height: 100vh;
    background-image: linear-gradient(#009688 15%, #DBDBD2 15%);
}

main{
    height: 90vh;
}

header{
    height: 10%;
    background-color: #EAEAEA;
}

footer{
    height: 8%;
}

/*---------------------------
        GENERIC-TAGS
----------------------------*/
img{
    max-width: 100%;
    border-radius: 50%;
}

i{
    color: #B1B1B1;
    padding: 5px;
}

h2{
    font-size: 0.7em;
    margin-bottom: 0; 
    margin-top: 10px;
}

h3{
    font-size: 0.7em;
    margin-bottom: 0; 
}

p{
    font-size: 10px;
}

/*!---------------------------
/*!        LEFT CONTENT
/*!-------------------------*/
#left-box{
    height: 100%;
    flex-basis: 30%;
}

#top-left{
   height: 10%;
   background-color: #EAEAEA;
}

#notifications{
    height: 13%;
    background-color: #8EDAFC;
}

#search{
    height: 7%;
}

#contacts-chat{          /*TODO  local com barra  */
    overflow: auto;
    height: 70%;
    background-color: aquamarine;
}
/*------------------------------
        CONTENT-LEFT SECTION
-------------------------------*/
#profile img{
    width: 20%;
}

#search input{
    font-size: 10px;
    width: 80%;
}

/*!---------------------------
/*!        RIGTH CONTENT
/*!-------------------------*/
#rigth-box{
    height: 100%;
    flex-basis: 70%;
}

#conversation{             /*TODO local com barra*/
    overflow: auto;
    height: 82%;
    background-image: url('img/mine.png');
}

/*------------------------------
      CONTENT-RIGTH SECTION
-------------------------------*/
header img{
    width: 9%;
 }