*{
    padding: 0;
    margin: 0, auto;
    box-sizing: border-box;
}

.container{
   max-width: 1000px;
   margin: 0 auto;
}

.border{
    border: 2px dashed darkred;
}

/* -----------------------
        Generals
-------------------------*/
body{
   background-color: #DCDBD2; /*! ritocare con due colori*/
}

main{
    height: 90vh;
    width: 100%;
    display: flex;
}

header{
    height: 10%;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
}

/*---------------------------
        Section - Left
----------------------------*/

#content-left{
   height: 100%;
   flex-basis: 30%;
   background-color: white;
}

#left-top{
    height: 10%;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
}

#notifications {
  
}


/*---------------------------
        Section - Rigth
----------------------------*/
#content-rigth{
    height: 100%;
    flex-basis: 70%;
    background-color: #E4DCD4;
 }






